div {
    box-sizing: border-box;
}
.modelmanage-container {
    height: 100%;
    background-color: #f2f5fa;
    padding: 10px;
    box-sizing: border-box;
}
.table-contain {
    flex: 1;
    display: flex;
    .left-menu {
        width: 130px;
        height: 100%;
        margin-right: 10px;
        .el-menu {
            width: 100%;
            .el-menu-item {
                padding: 0 !important;
                // text-align: center;
            }
        }
    }
    .right-table {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }
    :deep(.el-table) {
        .cell {
            font-size: 15px;
        }
        .el-button {
            font-size: 15px;
        }
    }
}
.manage-inbox {
    height: 100%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .el-radio-group {
        margin-bottom: 10px;
    }
    .content {
        height: 81.796vh;
    }
}
::v-deep .el-radio-button__inner {
    border-radius: 4px !important;
    margin: 0 10px;
    border: 1px solid #f1f4f9;
    background-color: #f1f4f9;
}
::v-deep .el-radio-button:first-child .el-radio-button__inner {
    margin-left: 0;
    border-left: 0;
}

.el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 0.154vw solid #2d559f;
}
